<li>
  <%= link_to group.name, group %>  
  
  <%# if current_user.admin? && !current_user?(user) %>
    <%= link_to "Apagar", group,  method: :delete, data: { confirm: "Tem certeza?" } %>
  <%# end %>
</li>
