<h1>Criar Grupo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@group) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Nome" %>
          <%= f.text_field :name %>
          <%= f.submit "Criar Grupo", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
