<li>
  <%= link_to user.name, user %>  
  
  <%# if current_user.admin? && !current_user?(user) %>
    <%= link_to "Apagar", user,  method: :delete, data: { confirm: "Tem certeza?" } %>
  <%# end %>
</li>