<h1>Criar Usuário</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=	form_for(@user)	do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Nome"	%>
	  <%= f.text_field	:name	%>
	  <%= f.label	:email	%>
	  <%= f.email_field	:email %>
	  <%= f.label	:proxy_pass, "Senha Proxy" %>
	  <%= f.password_field	:proxy_pass	%>
	  <%= f.label :group, "Grupo"	%>
	  <%#= f.select :groups, Group.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
	  <%= f.collection_select :group_ids, Group.all, :id, :name, {:multiple => true} %>

	  <%#= f.select :group_ids, Group.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
	  
	  <%= f.submit	"Criar Usuário",	class:	"btn btn-primary" %>
    <% end %>
  </div>
</div>
