<li>
  <%= link_to category.name, category %>  
  
  <%# if current_user.admin? && !current_user?(user) %>
    <%= link_to "Apagar", category,  method: :delete, data: { confirm: "Tem certeza?" } %>
  <%# end %>
</li>
