<h1>Criar categoria</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=	form_for(@category) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Nome"	%>
	  <%= f.text_field	:name	%>
	  <%= f.submit	"Criar Categoria", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
