<h1>Categorias</h1>

<ul class="categories">
  <% @categories.each do |category| %>
  
    <%# link_to category.name, category %>
    <!-- carrega partial como acima -->
    <%= render category %>
    
  <% end %>
</ul>
