<h1>Regras</h1>
  
<table id="rules" >

  <thead>	
    <tr>
      <th>Ação</th>
      <th>Grupo</th>
      <th>Opção</th>
      <th>Categoria</th>
    </tr>
  </thead>
  
  <tbody data-update-url="<%= sort_rules_url %>">
  <% @rules.each do |rule| %>
    
    	<%= content_tag_for :tr, rule do %>	

        <td><%= rule.action %> </td>
        <td><%= rule.group.name %></td>    
          <%#= link_to "Apagar", rule,  method: :delete, data: { confirm: "Tem certeza?" } %>
        <td><%= rule.option %></td>
        <td><%= rule.category.name %></td>
      <% end %>
  <% end %>
    </tbody>

</table>