<h1>Criar Regra</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@rule) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :Ação %>
      <%= f.select :action, ['allow', 'deny']%>
      <%#= f.label :group_id, "Departamento" %>
      <%= f.collection_select(:group_id, Group.all, :id, :name, :include_blank => true) %>
      <%#= f.select :group_ids, Group.all.collect {|x| [x.name, x.id]}, {} %>
      <!-- Esse debaixo funciona do mesmo jeito do de cima -->
      <%#= collection_select(:group, :group_id, Group.all, :id, :name) %>
      <%#= f.label :Opcao %>
      <%= f.select :option, ['url_regex', 'dstdomain']%>
      <%#= f.label :category_id, "Departamento" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank => true) %>

      <%= f.submit  "Criar Regra", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
