<li>
  <%= site.name, site.category %>  
  
  <%# if current_user.admin? && !current_user?(user) %>
    <%= link_to "Apagar", site,  method: :delete, data: { confirm: "Tem certeza?" } %>
  <%# end %>
</li>
