<h1>Sites</h1>



aaaaaaaaaaaa
 <% @sites.each do |site| %>
   <ul>
     <li>
       <%= site.name %>
         <% site.categories.each do |category| %>
            <li>
              <%= category.name %>
            </li>
         <% end %>
     </li>
   </ul>
 <% end %>    