<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@site) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Nome" %>
          <%= f.text_field      :name   %>
          <%#= f.select :categories, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
          <%= f.collection_select :category_ids, Category.all, :id, :name %>

          <%= f.submit  "Criar Site",        class:  "btn btn-primary" %>
    <% end %>
  </div>
</div>

